<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.guludai.market.domain.dao.ApproveFlowNodeEntityMapper">
	<resultMap id="BaseResultMap" type="cn.guludai.market.domain.entity.ApproveFlowNodeEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="node_code" jdbcType="CHAR" property="nodeCode" />
		<result column="node_type" jdbcType="CHAR" property="nodeType" />
		<result column="node_name" jdbcType="VARCHAR" property="nodeName" />
		<result column="node_description" jdbcType="VARCHAR" property="nodeDescription" />
		<result column="node_parent_code" jdbcType="CHAR" property="nodeParentCode" />
		<result column="flow_code" jdbcType="CHAR" property="flowCode" />
		<result column="version" jdbcType="BIGINT" property="version" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="data_status" jdbcType="CHAR" property="dataStatus" />
		<result column="disk_status" jdbcType="CHAR" property="diskStatus" />
	</resultMap>
	<resultMap id="FlowShowRequestMap" type="cn.guludai.market.api.saler.request.FlowShowRequest">
		<result column="flow_code" jdbcType="CHAR" property="flowCode" />
		<result column="apply_code" jdbcType="CHAR" property="applyCode" />
		<result column="node_code" jdbcType="CHAR" property="nodeCode" />
		<result column="parent_node_code" jdbcType="CHAR" property="parentNodeCode" />
		<result column="flow_type" jdbcType="CHAR" property="flowType" />
		<result column="node_name" jdbcType="VARCHAR" property="nodeName" />
		<result column="node_description" jdbcType="VARCHAR" property="nodeDescription" />
		<result column="flow_status" jdbcType="CHAR" property="flowStatus" />
		<result column="version" jdbcType="BIGINT" property="version" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, node_code, node_type, node_name, node_description, node_parent_code, flow_code,
		version, create_time, update_time, data_status, disk_status
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from approve_flow_node
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from approve_flow_node
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.guludai.market.domain.entity.ApproveFlowNodeEntity">
		insert into approve_flow_node (id, node_code, node_type,
		node_name, node_description, node_parent_code,
		flow_code, version, create_time,
		update_time,
		data_status, disk_status
		)
		values (#{id,jdbcType=BIGINT}, #{nodeCode,jdbcType=CHAR}, #{nodeType,jdbcType=CHAR},
		#{nodeName,jdbcType=VARCHAR}, #{nodeDescription,jdbcType=VARCHAR},
		#{nodeParentCode,jdbcType=CHAR},
		#{flowCode,jdbcType=CHAR}, #{version,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{dataStatus,jdbcType=CHAR},
		#{diskStatus,jdbcType=CHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.guludai.market.domain.entity.ApproveFlowNodeEntity">
		insert into approve_flow_node
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="nodeCode != null">
				node_code,
			</if>
			<if test="nodeType != null">
				node_type,
			</if>
			<if test="nodeName != null">
				node_name,
			</if>
			<if test="nodeDescription != null">
				node_description,
			</if>
			<if test="nodeParentCode != null">
				node_parent_code,
			</if>
			<if test="flowCode != null">
				flow_code,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="dataStatus != null">
				data_status,
			</if>
			<if test="diskStatus != null">
				disk_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="nodeCode != null">
				#{nodeCode,jdbcType=CHAR},
			</if>
			<if test="nodeType != null">
				#{nodeType,jdbcType=CHAR},
			</if>
			<if test="nodeName != null">
				#{nodeName,jdbcType=VARCHAR},
			</if>
			<if test="nodeDescription != null">
				#{nodeDescription,jdbcType=VARCHAR},
			</if>
			<if test="nodeParentCode != null">
				#{nodeParentCode,jdbcType=CHAR},
			</if>
			<if test="flowCode != null">
				#{flowCode,jdbcType=CHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="dataStatus != null">
				#{dataStatus,jdbcType=CHAR},
			</if>
			<if test="diskStatus != null">
				#{diskStatus,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.guludai.market.domain.entity.ApproveFlowNodeEntity">
		update approve_flow_node
		<set>
			<if test="nodeCode != null">
				node_code = #{nodeCode,jdbcType=CHAR},
			</if>
			<if test="nodeType != null">
				node_type = #{nodeType,jdbcType=CHAR},
			</if>
			<if test="nodeName != null">
				node_name = #{nodeName,jdbcType=VARCHAR},
			</if>
			<if test="nodeDescription != null">
				node_description = #{nodeDescription,jdbcType=VARCHAR},
			</if>
			<if test="nodeParentCode != null">
				node_parent_code = #{nodeParentCode,jdbcType=CHAR},
			</if>
			<if test="flowCode != null">
				flow_code = #{flowCode,jdbcType=CHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="dataStatus != null">
				data_status = #{dataStatus,jdbcType=CHAR},
			</if>
			<if test="diskStatus != null">
				disk_status = #{diskStatus,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.guludai.market.domain.entity.ApproveFlowNodeEntity">
		update approve_flow_node
		set node_code = #{nodeCode,jdbcType=CHAR},
		node_type = #{nodeType,jdbcType=CHAR},
		node_name = #{nodeName,jdbcType=VARCHAR},
		node_description = #{nodeDescription,jdbcType=VARCHAR},
		node_parent_code = #{nodeParentCode,jdbcType=CHAR},
		flow_code = #{flowCode,jdbcType=CHAR},
		version = #{version,jdbcType=BIGINT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		data_status = #{dataStatus,jdbcType=CHAR},
		disk_status = #{diskStatus,jdbcType=CHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 通过流程编号查找审批进度基础数据 -->
	<select id="selectApproveFlowNodeByFlowCode" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM approve_flow_node n
		WHERE n.flow_code = #{flowCode}
	</select>

	<!-- 根据流程编号查询流程根进度节点 -->
	<select id="selectRootNodeByFlowCode" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM approve_flow_node
		WHERE
		node_parent_code = 'ROOT'
		AND
		flow_code = #{flowCode,jdbcType=CHAR}
	</select>
	<!-- 通过 流程编号分页查询流程节点-->
	<select id="selectFlowNodeByFlowCode" resultMap="BaseResultMap" parameterType="cn.guludai.market.web.request.ApproveFlowNodeReq" >
		SELECT 	
			<include refid="Base_Column_List" />
		 from approve_flow_node WHERE flow_code = #{flowCode}	
	  <if test="limit != null and limit != '' ">
	      limit  #{limit} OFFSET #{offset}
	  </if>
	</select>
	
	<!-- 分页总数 -->
	<select id="selectFlowNodeByFlowCodeCount" resultType="java.lang.Integer" parameterType="cn.guludai.market.web.request.ApproveFlowNodeReq">
		SELECT 	
			count(1)
		 from approve_flow_node WHERE flow_code = #{flowCode}	
	  <if test="limit != null and limit != '' ">
	      limit  #{limit} OFFSET #{offset}
	  </if>
	</select>
	<!-- 通过节点编号查询节点信息 -->
    <select id="selectApplyFlowNodeByNodeCode" resultMap="BaseResultMap" >
		SELECT <include refid="Base_Column_List" /> FROM approve_flow_node  WHERE node_code = #{nodeCode}  
	</select>
	<!-- 通过父节点编号找查子节点信息 -->
	<select id="selectApplyFlowNodeByNodeParentCode" resultMap="BaseResultMap" >
		SELECT <include refid="Base_Column_List" /> FROM approve_flow_node  WHERE node_parent_code = #{nodeParentCode}  
	</select>
</mapper>