<script type="text/javascript" src="static/plugins/avalon/avalon.js"></script>
<script type="text/javascript" src="static/admin/mytask/carId.js"></script>
		<div style="margin: 15px;" ms-controller="carId">
			<form class="layui-form" action="">
				
				<input type="text" name="id"  style="display: none;" />
				<input type="text" name="yesOrNo"  style="display: none;" />
				<input type="text" name="activitiCode"  style="display: none;" />
				<input type="text" name="flowCode" style="display: none;" />
				<input type="text" name="applyCode" style="display: none;" />
				<input type="text" name="shopCode" style="display: none;" />
				<input type="text" name="transactUser" style="display: none;" />
			 	<div class="layui-form-item">
					<div  class="layui-input-block">
						<label style="text-again:center;font-size:20px;" id="errorInfo"></label>
					</div>
				</div>
				
				<div class="layui-colla-content layui-show">
					<div class="layui-form-item">
						<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
							<legend>
								<span style="color: #228B22;">祥情</span>
							</legend>
						</fieldset>
					</div>
					<div class="layui-form">
						<table class="layui-table">
							<colgroup>
								<col width="50%">
								<col width="50%">
							</colgroup>
							<thead>
								<tr>
									<th>描述</th>
									<th>内容</th>
								</tr>
							</thead>
							<tbody id="tbody3">
								 
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="layui-form-item">
						<label style="width:110px;" class="layui-form-label">公司名</label>
						<div class="layui-input-block">
							<select lay-filter="companyCode" name="companyCode" lay-verify="required" lay-search="">
							</select>
						</div>
				</div>
			
				<div class="layui-form-item">
					<label style="width:110px;" class="layui-form-label">门店名</label>
					<div class="layui-input-block">
						<input lay-verify="required"   type="text" name="shopName"   placeholder="门店名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label style="width:110px;" class="layui-form-label">地址</label>
					<div class="layui-input-block">
						<input type="text" name="shopAddress"   placeholder="门店地址" autocomplete="off" class="layui-input">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label style="width:110px;" class="layui-form-label">省份</label>
					<div class="layui-input-block">
						 <div class="layui-input-inline">
							<select  lay-filter="provinceNo" name="provinceNo">
								 <option value=''>请选择门店所在省份</option>
							</select>
						</div>
						<div class="layui-input-inline">
							<select  lay-filter="cityNo" name="cityNo">
								<option value=''>请选择门店所在城市</option>
							</select>
						</div>
						<div class="layui-input-inline">
							<select  lay-filter="townNo" name="townNo">
								<option value=''>请选择门店所在镇区</option>
							</select>
						</div>
					</div> 
				</div>
				
				<div class="layui-form-item">
					<label style="width:110px;" class="layui-form-label">联系人</label>
					<div  class="layui-input-block">
						<input type="text" name="contacts"   placeholder="联系人" autocomplete="off" class="layui-input">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label style="width:110px;" class="layui-form-label">联系电话</label>
					<div class="layui-input-block">
						<input type="text" name="phone"   placeholder="联系电话" autocomplete="off" class="layui-input">
					</div>
				</div>
				
				<div class="layui-btn-group">
							        <span class="layui-btn layui-btn-small" ms-click="addFn">
							            <i class="layui-icon">&#xe654;</i>
							        </span>
					</div>
				<div class="layui-form">
					<table class="layui-table">
						<colgroup>
							<col width="90%">
							<col width="10%">
						</colgroup>
						<thead>
							<tr>
								<th>添加内容</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							 <tr ms-repeat="carIdInfo">
							 	<td>
									<div class="layui-form-item">
										<label style="width:110px;" class="layui-form-label">身份证号</label>
										<div class="layui-input-block">
											<input type="text" ms-duplex="el.customerCode" name="customerCode"  style="display: none;"/>
											<input type="text" ms-duplex="el.customerIdcard" name="customerIdcard" lay-verify="required" placeholder="申请审批客户身份证号" autocomplete="off" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label style="width:110px;" class="layui-form-label">客户姓名</label>
										<div class="layui-input-block">
											<input type="text" ms-duplex="el.customerName" name="customerName" lay-verify="required" placeholder="申请审批客户姓名" autocomplete="off" class="layui-input">
										</div>
									</div>
						    	</td>
						    	<td>
						    		  <span class="layui-btn layui-btn-small" ms-click="removeFn($index)">
							            <i class="layui-icon">&#xe640;</i>
							        </span>
						    	</td>
						    </tr>
						</tbody>
					</table>
				</div>
	 		 
				<div class="layui-colla-content layui-show">
					<div class="layui-form-item">
						<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
							<legend>
								<span style="color: #228B22;">批注：</span>
							</legend>
						</fieldset>
					</div>
					<div class="layui-form">
						<table class="layui-table">
							<colgroup>
								<col width="20%">
								<col width="20%">
								<col width="60%">
							</colgroup>
							<thead>
								<tr>
									<th>审批人</th>
									<th>审批日期</th>
									<th>批注内容</th>
								</tr>
							</thead>
							<tbody id="tbody">
								 
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="layui-colla-content layui-show">
					<div class="layui-form-item">
						<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
							<legend>
								<span style="color: #228B22;">批注:</span>
							</legend>
						</fieldset>
					</div>
					<div class="layui-form">
						<table class="layui-table">
							<colgroup>
							    <col width="15%">
							    <col width="15%">
								<col width="50%">
								<col width="20%">
							</colgroup>
							<thead>
								<tr>
								    <th>节点</th>
								    <th>提交人</th>
									<th>内容</th>
									<th>时间</th>
								</tr>
							</thead>
							<tbody id="tbody4">
								 
							</tbody>
						</table>
					</div>
				</div>
				
				  <div  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
			          <div class="layui-form-item" style="margin-bottom:0px;">
			            <label class="layui-form-label">备注：</label>
			            <div class="layui-input-inline" style="width:77%;">
			                <input type="text" class="layui-input" name="comment">
			            </div> 
			             <button class="layui-btn layui-btn-small" onclick="addComment()">提交备注</button>
			        </div> 
			    </div>
			    
			    <div class="layui-form-item">
					<label style="width:110px;" class="layui-form-label">将任务转交给</label>
					<div class="layui-input-block">
						 <select lay-verify="required" lay-filter="taskActionUserCode" name="taskActionUserCode">
								 <option value=''>请选择任务接受人</option>
						 </select>
					</div> 
				</div>
				<div class="layui-form-item layui-form-text">
					<label style="width:110px;" class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<textarea lay-verify="required" class="layui-textarea layui-hide" name="flowNodeResult"  id="description_editor"></textarea>
					</div>
				</div>	
				<button lay-filter="edit" lay-submit style="display: none;"></button>
			</form>
		</div>
<script type="text/javascript">
	var inter = setInterval(function(){
		var applyCode = $('[name="applyCode"]').val();
		if(applyCode.length>0){
			clearInterval(inter);
			carId.initFun();
		}
	},500);
	     
</script>
 