<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>申请审批管理</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="static/css/global.css" media="all"/>
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/plugins/zTree/zTreeStyle/zTreeStyle.css" />
</head>

<body>
<div class="admin-main">
    <form  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
         <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">登录名搜索</label>
            <div class="layui-input-inline">
                <input type="text" onchange="javascript:$('#btn_query').click();" class="layui-input" id="userName">
            </div>
            <button type="button" id="btn_query"  class="layui-btn layui-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div> 
    </form>
    <div  id="toolbar" class="layui-btn-group">
         <button shiro:hasPermission="/web/user/add" class="layui-btn layui-btn-small" id="btn_add">
             <i class="layui-icon">&#xe654;</i>
         </button>
        <button shiro:hasPermission="/web/user/edit" class="layui-btn layui-btn-small" id="btn_edit">
            <i class="layui-icon">&#xe642;</i>
        </button>
         <button shiro:hasPermission="/web/user/delete" class="layui-btn layui-btn-small" id="btn_del">
            <i class="layui-icon">&#xe640;</i>
        </button>
        <button shiro:hasPermission="/web/user/settingUserResource" class="layui-btn layui-btn-small" id="btn_edit2">权限设置</button>
        <button shiro:hasPermission="/web/user/settingUserRole" class="layui-btn layui-btn-small" id="btn_edit3">设置角色</button>
    </div>
    <table id="userTable">

    </table>

</div>

<script type="text/javascript" src="static/plugins/jquery.min.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap.min.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="static/admin/common/util.js"></script>
<script type="text/javascript" src="static/admin/user/user.js"></script>
<script type="text/javascript" src="static/plugins/zTree/jquery.ztree.all.min.js"></script>
</body>

</html>